:root {
  --clr-primary: #007bff;
  --clr-secondary: #6de0ec;

  --vt-c-black-soft: #222;
  --vt-c-grey-soft: #777;

  --elements-c-default: #f9f9ff;
  --elements-c-primary: #f8b600;
  --elements-c-success: var(--clr-secondary);
  --elements-c-info: var(--clr-primary);
  --elements-c-warning: #f4e700;
  --elements-c-danger: #f44a40;

  --table-bar-blue: #6382e6;
  --table-bar-pink: #e66686;
  --table-bar-orange: #f09359;
  --table-bar-green: #73fbaf;
  --table-bar-purple: #a367e7;

  --bg-linear-gradient-right: linear-gradient(to right,
      var(--clr-primary),
      var(--clr-secondary));

  --bg-linear-gradient-left: linear-gradient(to left,
      var(--clr-primary),
      var(--clr-secondary));

  --bg-linear-gradient-bottom: linear-gradient(to bottom,
      var(--clr-primary),
      var(--clr-secondary));
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--clr-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border-radius: 8px;
}

::selection {
  background: var(--clr-primary);
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  overflow: hidden;
  margin: 0;
}

.header-container,
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.header-container {
  max-width: 1600px;
}

.container {
  max-width: 1300px;
}

ul,
ol {
  padding-left: 0;
}

li {
  list-style: none;
}

h3 {
  font-size: 3em;
  text-transform: uppercase;
  text-transform: bold;
}

h4 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--vt-c-black-soft);
  cursor: default;
}

p {
  color: var(--vt-c-grey-soft);
  line-height: 1.625em;
  cursor: default;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  font-family: "Heebo", sans-serif;
}

body section:first-of-type {
  box-shadow: inset 0px 80px 70px 0px rgba(238, 238, 238);
}

section {
  padding-top: 100px;
}

/* HELPERS */
.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.cp {
  cursor: pointer !important;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.p_120 {
  padding: 120px 0;
}

.mt15 {
  margin-top: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.w-full {
  width: 100%;
}

/* TABLE BAR COLORS */
.table-bar-blue {
  background: var(--table-bar-blue);
}

.table-bar-pink {
  background: var(--table-bar-pink);
}

.table-bar-orange {
  background: var(--table-bar-orange);
}

.table-bar-green {
  background: var(--table-bar-green);
}

.table-bar-purple {
  background: var(--table-bar-purple);
}

/* MAIN TITLE */
.main_title {
  max-width: 670px;
  margin: -15px auto 75px;
  margin-bottom: 75px;
  text-align: center;
}

.main_title h2 {
  font-size: 2.25em;
  margin-bottom: 5px;
}

/* RESPONSIVE */
@media (max-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1160px;
  }

  .header-container {
    max-width: 1220px;
  }

  section {
    padding-top: 90px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px
  }

  .header-container {
    max-width: 1100px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 900px
  }

  .header-container {
    max-width: 860px;
  }

  .p_120 {
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 670px
  }

  .header-container {
    max-width: 700px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 500px
  }
}