/* color palette from <https://github.com/vuejs/theme> */
:root {
  --clr-primary: #007bff;
  --clr-secondary: #6de0ec;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

#app {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--clr-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  text-transform: bold;
}

h4 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  color: #777;
}

h3,
h4,
h6,
p {
  cursor: default;
}

a {
  text-decoration: none;
}

a,
svg {
  transition: all 0.2s ease-in-out;
}

/* HELPERS */
.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.p_120 {
  padding: 120px 0;
}

.section-box-shadow {
  box-shadow: inset 0px 200px 70px 0px rgba(238, 238, 238, 0.7);
}

/* MAIN TITLE */
.main_title {
  text-align: center;
  margin-bottom: 75px;
}
.main_title h2 {
  font-size: 3rem;
}
.main_title p {
  max-width: 670px;
  display: flex;
  margin: auto;
}

/* MEDIA QUERY */
@media (min-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}
